.FullMovie {
    .FullMovie__header {
        width: 100%;
        background-color: #111;
        text-align: left;
        color: white;
        padding: 40px;
        box-sizing: border-box;

        & > * {
            display: inline-block;
            vertical-align: middle;
        }

        img {
            width: 200px;
            height: 200px;
            object-fit: cover;
            margin-right: 40px;
            box-shadow: 0 0 10px #000;
        }
    }

    h3 {
        color: #333;
        font-size: 20px;
        padding: 20px 0 0;
    }

    .FullMovie__description {
        background-color: #eee;
        color: #333;
        padding: 40px;
        box-sizing: border-box;
    }

    .FullMovie__features {
        padding: 0;
        margin: 40px 0 60px;

        li {
            list-style: none;
            color: #333;

            b {
                color: #aaa;
            }
        }
    }
}
