.Home {
    * {
        font-family: 'Arial';
    }

    .Home__list {
        padding: 30px 20px 0 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}
