$itemsPerRow: 6;
$marginBetweenRow: 11px;

.CategoryItem {
    width: calc(100% * (1 / #{$itemsPerRow}) - #{$marginBetweenRow});
    margin-bottom: 20px;
    box-shadow: 0 0 10px #ccc;
    background-color: #333;
    transition: 0.3s;

    &:hover {
        opacity: 0.6;
    }

    a {
        width: 100%;
        color: white;
        text-decoration: none;
        text-align: center;
        padding: 20px 40px;
        box-sizing: border-box;
        display: block;
    }
}
